* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: #a48d72;
}

a:hover {
    color: #d4b795;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    color: #555;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    padding-bottom: 40px;
    margin: 0 auto;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
    margin: 0 auto;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #191919;
    margin: 0 auto;
    padding-bottom: 40px;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.custom-logo:hover {
    opacity: 0.6;
}

.header label {
    width: 50px;
    height: 50px;
    display: none;
    background: url("../image/burger.png");
    background-size: 100%;
    margin-top: 6px;
}

#menu {
    visibility: hidden;
}

input[type="checkbox"]:checked~.menu {
    display: block;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list-block {
    display: flex;
}

.menu-list {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    margin-right: 30px;
    display: inline;
}

.menu-item:last-child {
    margin-right: 63px;
}

.menu-item a {
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.menu-item a:hover {
    color: #c7b29a;
}

.icon-search {
    background-image: url(../image/icon-search.png);
    display: block;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    margin-top: 14px;
}

.icon-search:hover {
    opacity: 1;
}

main {
    margin: 0 auto;
    min-height: calc(100vh - 265px);
}

.img-effect {
    overflow: hidden;
    position: relative;
    display: flex;
}

.blog,
.page-content {
    padding-top: 80px;
    padding-bottom: 100px;
    margin: 0 auto;
    height: 100%;
}

.page-content,
.main-content {
    width: 65%;
    margin: 0 auto;
}

.post_entries {
    display: flex;
    justify-content: center;
}

.h1-single,
.post_content {
    width: 68%;
    margin: 0 auto;
}

.recentposts-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    margin: 0 auto;
}

.recentposts-article {
    width: 370px;
    margin-right: 30px;
    margin-top: 30px;
}

.recentposts-img,
.no-img {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.no-img {
    height: 220px;
}

.data-recentposts,
.rpwwt-post-date {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: center;
}

.data-day,
.rpwwt-post-date {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    color: #ffffff;
    display: block;
    border-radius: 3px;
    background-color: #363636;
    padding: 10px;
}

.recentposts-article:hover .data-day,
.rpwwt-widget ul>li:hover .rpwwt-post-date {
    background-color: #c7b299;
}

.recentposts-article:hover .recentposts-text {
    background-color: #362f2d;
}

.recentposts-article:hover a,
.post_pagination a:hover {
    color: #c7b299;
}

.recentposts-article:hover .recentposts-text p {
    color: #ffffff;
}

.recentposts-text {
    border-bottom: 2px solid #f8f8f8;
    padding: 0 0 30px 20px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 20px;
}

.recentposts-text p {
    font-family: 'Montserrat', sans-serif;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: block;
    height: 60px;
    overflow: hidden;
    margin-bottom: 25px;
}

.read-more a {
    font-family: 'Montserrat', sans-serif;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    position: relative;
    text-transform: capitalize;
}

.post_pagination {
    text-align: center;
    margin-top: 50px;
}

.post_pagination a,
.post_pagination span {
    margin-right: 5px;
}

.post_pagination span {
    font-weight: bold;
}

.post_image,
.post-content {
    margin-bottom: 40px;
}

.post-content p {
    margin-bottom: 30px;
}

.wpcf7 input,
.wpcf7 textarea {
    padding: 10px 15px;
    outline: none;
    box-shadow: none;
    border: #555 1px solid;
    border-radius: 3px;
    width: 30%;
}

.wpcf7 textarea {
    resize: none;
}

.wpcf7 p {
    margin: 10px 0 15px;
}

.wpcf7-submit {
    width: 170px !important;
    height: 53px;
    display: flex;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #998675;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    float: left;
}

.wpcf7 .ajax-loader {
    margin: 15px 30px 0 !important;
}

.wpcf7-submit:hover {
    color: #998675;
    background-color: white;
    border: 1px solid #c7b29a;
    transition: 450ms;
    cursor: pointer;
}

input:active {
    outline: none;
    box-shadow: none;
}

input:focus {
    /*  border: none;*/
    outline: none;
}

.meter {
    background: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -o-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
    background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 80px;
}

.meter-block {
    display: flex;
    position: relative
}

.meter-txt {
    padding: 0 35px 0 35px;
    text-align: center;
    position: relative;
    width: 150px;
}

.meter-txt-number {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 200;
    line-height: 36px;
    text-align: center;
    margin: 30px 0 20px 0;
    display: block;
}

.meter-txt-text {
    font-family: 'Montserrat', sans-serif;
    color: #c7b299;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
}

.meter-txt::after {
    content: "";
    position: absolute;
    background-color: #ffffff;
    width: 30px;
    height: 2px;
    display: block;
    top: 180px;
    left: 95px;
}

.rpwwt-widget {
    padding: 80px 0 80px 0;
}

.rpwwt-widget h2 {
    font-size: 30px;
}

.rpwwt-widget ul li img {
    margin-top: 0 !important;
}

.rpwwt-widget {
    margin: 0 auto;
    text-align: center;
    width: 84%;
}

.rpwwt-widget ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rpwwt-widget ul>li {
    width: 370px;
    margin: 35px 45px 0 0 !important;
    position: relative;
    text-align: left;
    border-bottom: 2px solid #f8f8f8;
}

.rpwwt-widget a>img {
    margin-bottom: 30px !important;
}

.rpwwt-widget a:hover {
    color: #c7b299;
}

.rpwwt-widget a>span {
    font-family: 'Raleway', sans-serif;
    color: #555555;
    font-size: 20px;
    font-weight: 500;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    display: block;
}

.rpwwt-widget ul>li:hover a>span {
    color: #c7b299;
}

.rpwwt-widget span,
.rpwwt-widget .rpwwt-post-excerpt,
.rpwwt-widget .read-more {
    margin-left: 17px;
}

.rpwwt-post-excerpt {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 20px;
}

.widget .read-more {
    margin-bottom: 20px;
}

.rpwwt-widget ul>li:hover {
    background-color: #362f2d;
}

.partners {
    background: url(../image/background-parters.png) no-repeat;
    padding: 140px 0 130px 0;
}

.partners-block {
    text-align: center;
}

.partners-img {
    display: inline-block;
    margin-right: 90px;
}


/* --------------------- footer ----------------*/

.footer-top {
    padding: 80px 0 65px 0;
    background-color: #191919;
}

.footer-top-block {
    display: flex;
    justify-content: center;
}

.block-info {
    width: 350px;
    margin-right: 50px;
}

.block-info ul {
    list-style: none;
}

.block-info p {
    color: #545454;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 30px 0 30px 0;
}

.link-block-info {
    color: #d1d1d1;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    position: relative;
    text-transform: capitalize;
}

.link-block-info::after {
    content: "";
    position: absolute;
    background: url(../image/arrow_white.png) no-repeat;
    width: 5px;
    height: 8px;
    top: 5px;
    right: -15px;
}

.link-block-info:hover {
    color: #c7b299;
}

.recent-block {
    width: 400px;
    margin-right: 50px;
}

.footer h2 {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 27px;
    padding-top: 15px;
}

.sidebar>ul>li>ul>li {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #252525;
}

.sidebar>ul>li>ul>li:last-child {
    border: none;
}

.recent-block ul,
.contacts ul {
    list-style: none;
}

.sidebar .post-date {
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    display: block;
}

.sidebar>ul>li>ul>li {
    display: flex;
    flex-direction: column-reverse;
}

.recent-block a {
    font-family: 'Raleway', sans-serif;
    color: #545454;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}

.sidebar>ul>li>ul>li:hover {
    color: #ffffff;
}

.recent-block a:hover {
    color: #c7b299;
}

.contacts {
    width: 350px;
}

.contacts p {
    margin-bottom: 25px;
}

.footer-bottom-block {
    background-color: #111111;
    padding: 45px 0;
    display: flex;
    justify-content: space-around;
    color: #545454;
    font-size: 13px;
    font-weight: 300;
}

.block-copyright {
    display: flex;
}

.block-copyright p {
    padding-right: 10px;
}

.block-copyright span {
    color: #959595;
}

.return {
    margin-top: 40px;
}

@media screen and (max-width: 1440px) {
    .rpwwt-widget {
        width: 90%;
    }
    .h1-single,
    .post_content {
        width: 77%;
    }
    .recentposts-block {
        width: 90%;
    }
    .page-content,
    .main-content {
        width: 86%;
    }
}

@media screen and (max-width: 1280px) {
    .recentposts-block {
        justify-content: space-around;
    }
    .recent-block {
        width: 320px;
    }
    .block-info {
        width: 290px;
    }
}

@media screen and (max-width: 1152px) {
    .contacts {
        width: 23%;
    }
}

@media screen and (max-width: 1024px) {
    .navigation {
        justify-content: space-between;
    }
    .navigation .custom-logo-link {
        margin-left: 50px;
    }
    .menu {
        display: block;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 139px;
        background-color: #191919;
        width: 100%;
        padding: 20px;
    }
    header label {
        display: block !important;
        float: right;
        display: block;
        margin-top: -52px;
        margin-right: 50px;
        cursor: pointer;
    }
    .page-content,
    .main-content {
        width: 89%;
    }
    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .menu-item {
        margin: 0;
        padding: 5px;
    }
    .menu-item:last-child {
        margin: 0;
    }
    .menu-item a {
        font-size: 20px;
    }
    .recent-block {
        width: 27%;
    }
    .rpwwt-widget ul {
        justify-content: space-around;
    }
    .rpwwt-widget ul>li {
        margin-right: 0 !important;
    }
    .recentposts-article {
        margin-right: 0;
    }
    .wpcf7 input,
    .wpcf7 textarea {
        padding: 20px 15px;
        width: 100%;
    }
    .wpcf7-submit {
        padding: 10px 57px !important;
    }
}

@media screen and (max-width: 800px) {
    .footer-top-block {
        flex-wrap: wrap;
    }
    .recent-block,
    .block-info {
        margin-right: 0;
    }
    .contacts,
    .block-info,
    .recent-block {
        width: 88%;
    }
    .block-info {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 425px) {
    .navigation img {
        width: 140px;
        height: auto;
    }
    .header label {
        width: 40px;
        height: 40px;
        margin-right: 25px;
    }
    .navigation .custom-logo-link {
        margin-left: 25px;
    }
    .menu {
        top: 126px;
    }
    .blog,
    .page-content {
        padding-top: 50px;
        padding-bottom: 60px;
    }
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    .footer-top {
        padding: 45px 0 20px 0;
    }
}